@use "../abstracts" as *;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

$spacing-sizes: $sizes;

$properties: (
    "m": "margin",
    "p": "padding",
);

$directions: (
    null: null,
    "t": "-top",
    "r": "-right",
    "b": "-bottom",
    "l": "-left",
    "h": "-inline",
    "v": "-block",
);


@each $propName, $propValue in $properties {
    @each $dirName, $dirRules in $directions {
        @each $prop, $value in $spacing-sizes {
            .#{$propName}#{$dirName}-#{$prop} {
                @each $direction in $dirRules {
                    #{$propValue}#{$direction}: #{$value};
                }
            }
        }
    }
}