@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Place these scss variables in you abstracts/tokens.scss and comment out
// these variables in order to keep everything clean in 1 file for easy editting
// -----------------------------------------------------------------------------

// $button-font-family: $body-font-family;
// $button-font-size: var(--fs-300);
// $button-font-weight: var(--fw-medium);
// $button-line-height: 1;

// $button-padding: var(--size-s) var(--size-m) var(--size-xs);
// $button-border-radius: .25em;

// $button-foreground: var(--neutral-600);
// $button-foreground-hover: var(--neutral-950);
// $button-foreground-active: var(--neutral-50);


// $button-background: var(--neutral-100);
// $button-background-hover: var(--neutral-200);
// $button-background-active: var(--neutral-950);



// -----------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------

// button style reset
button {
    all: unset;
}


button,
.button {
    --_button-font-family: var(--button-font-family, #{$button-font-family});
    --_button-font-size: var(--button-font-size, #{$button-font-size});
    --_button-font-weight: var(--button-font-weight, #{$button-font-weight});
    --_button-line-height: var(--button-line-height, #{$button-line-height});
    --_button-padding: var(--button-padding, #{$button-padding});
    --_button-border-radius: var(--button-border-radius, #{$button-border-radius});

    --_button-foreground: var(--button-foreground, #{$button-foreground});
    --_button-background: var(--button-background, #{$button-background});

    --link-text-decoration: none;

    display: inline-flex;
    font-family: var(--_button-font-family);
    font-size: var(--_button-font-size);
    font-weight: var(--_button-font-weight);
    line-height: var(--_button-line-height);
    padding: var(--_button-padding);
    border-radius: var(--_button-border-radius);
    color: var(--_button-foreground);
    background: var(--_button-background);
    cursor: pointer;
    transition: scale 300ms ease-in-out, background 300ms ease-in-out;

    &:hover {
        --button-foreground: #{$button-foreground-hover};
        --button-background: #{$button-background-hover};
        scale: 1.05;
    }

    &:active {
        --button-foreground: #{$button-foreground-active};
        --button-background: #{$button-background-active};
        scale: 1;
    }
}